.popup-full-image__close-icon {
    margin-left: auto;
    margin-bottom: 16px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../../images/CloseIcon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

@media (min-width: 910px) {
    .popup-full-image__close-icon {
        margin-right: -45px;
        margin-bottom: 8px;
        width: 32px;
        height: 32px;
    }
}