.elements__card {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
    background: #FFFFFF;
    max-width: 282px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
