.footer__text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.form__text:nth-child(3) {
    margin-bottom: 47px;
}

.form__text:active {
    outline: 1px solid #000000;
}

@media (min-width: 910px) {
    .footer__text {
        font-size: 18px;
        line-height: 22px;
    }
}