.profile__avatar {
    width: 127px;
    height: 127px;
    border-radius: 50%;
    margin-bottom: 22px;
    object-fit: cover;
}

@media (min-width: 910px) {
    .profile__avatar {
        margin: 0 20px 47px 0;
    }
}

@media (hover:hover) {
    .profile__avatar:hover {
        opacity: 0.8;
        transition: 0.5s;
        cursor: pointer;
    }
}