.form__close-icon {
    margin-left: auto;
    width: 20px;
    margin-bottom: 16px;
    cursor: pointer;
}

@media (min-width: 910px) {
    .form__close-icon {
        margin-right: -30px;
        width: 32px;
    }
}